@media screen and (min-width: 640px){
    .flex-container {
        display: flex;
    }    
}

body{
    background-color:#efefef;
    margin-top: 100px;
}


    ul{
    line-height: 50px;
    text-align: center;
    list-style: inside;
}
     


/* h1{
    text-align: center;
   color: rgb(192, 142, 165);
   margin: 50px 0;
} */
header { color: #c27aa6; font-family: 'Rouge Script', cursive; 
    font-size: 50px; font-weight: normal; line-height: 48px;
     margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #c273bb; }
li{
    width:500px;
    margin:0 auto;
    color: rgb(224, 94, 203);
    font-size: 20px;}
h2{text-align: center;
    color: rgb(167, 39, 99);
    margin-top: 50px 0;

} 
footer{
    background-color:rgb(212, 160, 151);
    color:rgb(161, 83, 135);
    padding: 9px;
    text-align: center;
  
}

  
  

    



