body{
    background-color:#efefef;
    margin: 100px 100px;
}
ul{
    line-height: 50px;
    text-align: center;
    list-style: inside;
}
     


/* h1{
    text-align: center;
   color: rgb(192, 142, 165);
   margin: 50px 0;
} */
h1 { color: #c27aa6; font-family: 'Rouge Script', cursive; 
    font-size: 130px; font-weight: normal; line-height: 48px;
     margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #c273bb; }
li{
    width:500px;
    margin:0 auto;
    color: rgb(224, 94, 203);
    font-size: 20px;}
h2{text-align: center;
    color: rgb(167, 39, 99);
    margin-top: 50px 0;

}  
  
  

    



