
@media screen and (min-width:375px){

}
  
      body, html {
        margin: 0;
        padding: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        font-weight: 100;
        font-size: 20px;
      }
     
            


    header{
        background-color: rgb(240, 227, 240);
        padding: 20px;
        }
    header ul {
        white-space: nowrap;
        }
    header  li{
        width: 25%;
        display: inline-block;
        font-size: 34px;
        
        }
    header li a {
        color: violet;
    }
h2{
     color: rgb(161, 83, 135);
     font-size: 38px;
     text-align:center;
    }
article p{
    color: rgb(121, 24, 88);
    line-height: 30px;
    margin-left: 20px;
    
}
aside img{
  
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    float: right;
   
  }

footer{
    background-color:rgb(212, 160, 151);
    color:rgb(161, 83, 135);
    padding: 9px;
    text-align: center;
  
}

    
  
    




   

